.task-group-container {
    background-color: #222;
    position: absolute;
    top: 14.9rem;
    bottom: 0;
    width: 18rem;
    overflow-y: scroll;
    font-family: Helvetica;
}

.task-list-container {
    background-color: #111;
    position: absolute;
    top: 13rem;
    bottom: 0;
    left: 18rem;
    right: 0;
    border-top: #000 1px solid;
    overflow-x: scroll;
    font-family: Helvetica;
}

.task-group-item {
    border-bottom: #666 1px solid;
    padding: 1rem;
    color: #ccc;
}
.task-group-item.active {
    background-color: #444;
}
.task-group-item:hover {
    background-color: #333;
}
.task-group-item p.group-name {
    margin: 0;
    padding-left: 0.5rem;
    display: inline;
}
.task-group-item .edit-menu {
    float: right;
}
.task-group-item a.edit-link {
    float: right;
    font-weight: bold;
    padding: 0.1rem 0.2rem;
    cursor: pointer;
    border-radius: 3px;
}
.task-group-item .edit-menu .edit-submenu {
    display: none;
    position: absolute;
    right: 0;
    list-style-type: none;
    margin-top: 1.5rem;
    z-index: 500;
    margin: 0;
    padding: 0;
    background-color: #333;
    border: #666 1px solid;
}
.task-group-item .edit-menu .edit-submenu.active {display: block;}
.task-group-item .edit-menu .edit-submenu li {
    padding: 0.3rem 1rem;
    cursor: pointer;
}
.task-group-item .edit-menu .edit-submenu li:hover {
    background-color: #444;
}
.task-group-item .edit-menu a.edit-link:hover {
    background-color: #444;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #222;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}
