.task-group-container {
    background-color: #222;
    position: absolute;
    top: 13rem;
    bottom: 0;
    width: 18rem;
    border-top: #000 1px solid;
    overflow-y: scroll;
    font-family: Helvetica;
}

.task-list-container {
    background-color: #111;
    position: absolute;
    top: 13rem;
    bottom: 0;
    left: 18rem;
    right: 0;
    border-top: #000 1px solid;
    overflow-x: scroll;
    font-family: Helvetica;
}

.task-group-container::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.op-bar {
    background-color: #1e1e1e;
    padding: 0.4rem 0;
    font-size: 0.9em;
}
.op-bar label {
    margin-left: 1rem;
    color: #bbb;
}
.op-bar a {
    float: right;
    margin-right: 1rem;
}

.text-link {
    color: #eee;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.text-link:hover {
    text-decoration: underline;
}