.task-group-container {
    background-color: #222;
    position: absolute;
    top: 14.9rem;
    bottom: 0;
    width: 18rem;
    overflow-y: scroll;
    font-family: Helvetica;
}

.task-list-container {
    background-color: #111;
    position: absolute;
    top: 13rem;
    bottom: 0;
    left: 18rem;
    right: 0;
    border-top: #000 1px solid;
    overflow-x: scroll;
    font-family: Helvetica;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #222;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}
