body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.navbar {
    padding: 0.8rem 1.3rem;
    background-color: #EEE;
}

.nav-container {
    width: 960px;
    max-width: 960px;
    margin: 0 auto;
}

.site-logo {
    display: inline-block;
    height: 2rem;
    max-width: 20rem;
    vertical-align: middle;
}
.site-logo img {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.site-logo p {
    display: inline-block;
    margin: 0;
    padding-left: 0.5rem;
    font-family: "Lato","Helvetica Neue","Helvetica","Arial","sans-serif";
    font-size: 25px;
    color: #2a7ceb;
    vertical-align: middle;
}


@media(max-width: 400px) {
    .site-logo p {
        display: none;
    }
}

.text-link {
    color: #eee;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.text-link:hover {
    text-decoration: underline;
}

.popup-input {
    padding: 0 1.5rem 1.5rem 1.5rem;
    background: #333;
    border: #888 1px solid;
    position: absolute;
    z-index: 500;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Helvetica;
    font-size: 0.9em;
    color: #eee;
}

.popup-input h3 {
    font-size: 1.2em;
    margin-top: 0.7rem;
}

.popup-input label {
    display: inline-block;
    min-width: 7rem;
}
.popup-input input {
    background-color: #222;
    border: #888 1px solid;
    color: #eee;
    padding-left: 0.2rem;
    margin-bottom: 1rem;
}
.popup-input button:first-child {
    margin-right: 1rem;
}

button {
    padding: 0.1rem;
    min-width: 3.7rem;
    min-height: 1.6rem;
    background-color: #eee;
    color: #333;
    border: 0;
    border-radius: 3px;
    font: 1em;
    cursor: pointer;
}
button.ok-button {
    background-color: #26a;
    color: #eee;
}